<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.saintkream.server.domain.address.mapper.AddressMapper">
    <!-- 주소 추가 -->
    <insert id="insertAddress" parameterType="AddressVO">
     INSERT INTO address (
            member_id, name, phone, zipcode, address, detail_address, is_default, created_at, updated_at
        ) VALUES (
            #{memberId},
            #{name},
            #{phone},
            #{zipcode},
            #{address},
            #{detailAddress},
            CASE WHEN #{isDefault} THEN 1 ELSE 0 END,
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        );
    </insert>


 <update id="updateAddress">
    UPDATE address
    SET name = #{name}, 
        phone = #{phone}, 
        zipcode = #{zipcode}, 
        address = #{address}, 
        detail_address = #{detailAddress}, 
        is_default = CASE WHEN #{isDefault} THEN 1 ELSE 0 END, 
        updated_at = CURRENT_TIMESTAMP
    WHERE add_id = #{id}
</update>



      <!-- 주소 삭제 -->
    <delete id="deleteAddress" parameterType="String">
    DELETE FROM address
    WHERE add_id = #{id};
    </delete>

    <!-- 기존 기본 배송지를 초기화하는 쿼리 -->
    <update id="clearDefaultAddress" parameterType="String">
    UPDATE address
    SET is_default = 0
    WHERE member_id = #{memberId};
    </update>

    <!-- 선택한 주소를 기본 배송지로 설정하는 쿼리 -->
    <update id="setDefaultAddress" parameterType="String">
    UPDATE address
    SET is_default = 1
    WHERE add_id = #{id};
    </update>



    <select id="getAddressesByMemberId" parameterType="String" resultType="AddressVO">
    SELECT *
    FROM address
    WHERE member_id = #{memberId}
    ORDER BY is_default DESC, created_at ASC;
    </select>

    <!-- 특정 주소 가져오기 -->
    <select id="getAddressById" parameterType="String" resultType="AddressVO">
        SELECT *
        FROM address
        WHERE add_id = #{id}
    </select>



     <select id="getAddressList"
          parameterType="String"
          resultType="AddressVO">
    SELECT 
      add_id AS id,
      member_id AS memberId,
      name,
      phone,
      zipcode,
      address,
      detail_address AS detailAddress,
      is_default AS isDefault,
      created_at,
      updated_at
    FROM address
    WHERE member_id = #{memberId}
    ORDER BY is_default DESC, created_at ASC
  </select>


	
</mapper>