<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.saintkream.server.domain.chatserver.mapper.ChatMapper">
    <select id="getOneRoom" parameterType="ChatRoomVO" resultType="ChatRoomVO">
    SELECT * FROM message_rooms WHERE pwr_id = #{pwr_id} AND buyer_id = #{buyer_id} 
    </select>

    <insert id="getChatRoomInsert" parameterType="ChatRoomVO" resultType="int">
    insert into message_rooms(pwr_id,buyer_id) 
    VALUES(#{pwr_id},#{buyer_id})
    </insert>

    <select id="getSelectlastInsert" parameterType="int">
        SELECT LAST_INSERT_ID();
    </select>

	
</mapper>