<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- <mapper namespace="com.saintkream.server.domain.salespost.mapper.SalesPostMapper"> -->
 <mapper namespace="com.saintkream.server.domain.sse.mapper.SseMapper">
  <insert id="getNotiInsert" parameterType="NotificationVO">
    INSERT INTO notification (
      pwr_id,is_deleted,type,name,title,sender_id,receiver_id,file_name
    ) VALUES (
      #{pwr_id}, #{is_deleted},#{type}, #{name},#{title}, #{sender_id},#{receiver_id},#{file_name}
    )
  </insert>
  <select id="getNotiListById" parameterType="String" resultType="NotificationVO">
  SELECT * FROM notification
  WHERE receiver_id = #{receiver_id} AND is_deleted = "0"
  </select>
  <update id="getNotiDelete" parameterType="String">
  UPDATE notification
  SET is_deleted = "1"
  where noti_id = #{noti_id}
  </update>

 </mapper>