<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.saintkream.server.domain.report.mapper.ReportMapper">
    
    <!-- <insert id="insertReport" parameterType="ReportVO">
          INSERT INTO reports (member_id, pwr_id, report_reason, reported_at)
    VALUES (#{member_id}, #{pwr_id}, #{report_reason}, NOW());
    </insert> -->
 <insert id="insertReport" parameterType="ReportVO">
        INSERT INTO report_tb (report_id,member_id, board_id, report_reason)
        VALUES (#{report_id},#{member_id}, #{board_id}, #{report_reason});
    </insert>

	
</mapper>