<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.saintkream.server.domain.salespost.mapper.SalesPostMapper">
  <insert id="getSalesPostWrite" parameterType="SalesPostVO">
    INSERT INTO post (
      member_id,selling_area_id,title,status,sell_price,description,sup_category,sub_category,is_direct,is_delivery
    ) VALUES (
      #{member_id}, #{selling_area_id}, #{title},#{status}, #{sell_price},#{description}, #{sup_category},#{sub_category},#{is_direct},#{is_delivery}
    )
  </insert>

  <insert id="getPostFileWrite" parameterType="list">
    INSERT INTO file_table (file_name) VALUES 
    <foreach collection="file_names" item="fileName" separator=",">
        (#{fileName})
    </foreach>
  </insert>

  <select id="getFileIds" parameterType="list" resultType="String">
    SELECT * FROM file_table WHERE file_name IN  
    <foreach collection="file_names" item="fileName" open="(" separator="," close=")">
        #{fileName}
    </foreach>
  </select>

  <insert id="getPostFileTableWrite" parameterType="map">
    INSERT INTO post_files (pwr_id,file_id) VALUES 
    <foreach collection="file_ids" item="file_id" separator=",">
        (#{pwr_id},#{file_id})
    </foreach>
  </insert>

  <select id="getSelectlastInsert" parameterType="int">
        SELECT LAST_INSERT_ID();
  </select>

  <update id="upViewCount" parameterType="int">
        UPDATE post
        SET view_count = view_count + 1
        WHERE pwr_id = #{pwr_id}
  </update>

  <select id="getSalesPostList" resultType="SalesPostVO" resultMap="PostWithFilesMap">
  SELECT 
    p.pwr_id,
    f.file_name,
    m.name,
    p.title,
    p.sell_price,
    p.created_at,
    p.sup_category,
    p.sub_category,
    p.view_count,
    p.description

    FROM 
    post AS p
    LEFT JOIN 
    post_files AS pf
    ON 
    p.pwr_id = pf.pwr_id
    LEFT JOIN 
    file_table AS f
    ON 
    pf.file_id = f.file_id
    LEFT JOIN 
    members AS m
    ON 
    p.member_id = m.member_id
  </select>

  <select id="getSalesPostOne" parameterType="int" resultType="SalesPostVO" resultMap="PostWithFilesMap">
  SELECT 
    p.pwr_id,
    f.file_name,
    m.name,
    p.title,
    p.sell_price,
    p.created_at,
    p.sup_category,
    p.sub_category,
    p.view_count,
    p.description,
    p.selling_area_id,
    p.is_direct,
    p.is_delivery

    FROM 
    post AS p
    LEFT JOIN 
    post_files AS pf
    ON 
    p.pwr_id = pf.pwr_id
    LEFT JOIN 
    file_table AS f
    ON 
    pf.file_id = f.file_id
    LEFT JOIN 
    members AS m
    ON 
    p.member_id = m.member_id
    WHERE
    p.pwr_id = #{pwr_id}
  </select>

  <resultMap id="PostWithFilesMap" type="SalesPostVO">
    <!-- PostVO의 기본 필드 -->
    <id property="pwr_id" column="pwr_id" />
    <result property="title" column="title" />
    <result property="sell_price" column="sell_price"/>
    <result property="created_at" column="created_at"/>
    <result property="sup_category" column="sup_category"/>
    <result property="sub_category" column="sub_category"/>
    <result property="view_count" column="view_count" />
    <result property="description" column="description" />
    <result property="sup_category" column="sup_category" />
    <result property="sub_category" column="sub_category" />
    <result property="selling_area_id" column="selling_area_id" />
    <result property="is_direct" column="is_direct" />
    <result property="is_delivery" column="is_delivery" />

    <!-- FileVO 리스트를 매핑 -->
    <collection property="fileList" ofType="FileVO">
        <result property="fileName" column="file_name" />
    </collection>
  </resultMap>
 </mapper>