<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saintkream.server.domain.searchitems.mapper.SearchItemsMapper">

    <!-- 검색 쿼리 -->
    <select id="searchItems" resultMap="SearchItemsResultMap" parameterType="map">
    SELECT 
        p.pwr_id,
        f.file_name,
        p.title,
        p.sell_price,
        p.created_at,
        p.sup_category,
        p.sub_category,
        p.view_count,
        p.description,
        p.status,
        p.longitude,
        p.latitude
    FROM post p
    LEFT JOIN post_files AS pf ON p.pwr_id = pf.pwr_id
    LEFT JOIN file_table AS f ON pf.file_id = f.file_id
    WHERE 1=1
        <if test="category != null and category != ''">
            AND p.sup_category = #{category}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (
                p.title LIKE CONCAT('%', #{keyword}, '%')
                OR p.description LIKE CONCAT('%', #{keyword}, '%')
                OR p.selling_area_id LIKE CONCAT('%', #{keyword}, '%')
                OR p.sup_category LIKE CONCAT('%', #{keyword}, '%')
                OR p.sub_category LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
    GROUP BY p.pwr_id
    <!-- SELECT 
        p.pwr_id,
        p.member_id,
        p.selling_area_id,
        p.title,
        p.status,
        p.sell_price,
        p.view_count,
        p.description,
        p.created_at,
        p.is_direct,
        p.is_delivery,
        p.sup_category,
        p.sub_category,
        JSON_ARRAYAGG(f.file_name) AS fileList
    FROM post p
    LEFT JOIN post_files pf ON p.pwr_id = pf.pwr_id
    LEFT JOIN file_table f ON pf.file_id = f.file_id
    WHERE 1=1
        <if test="category != null and category != ''">
            AND p.sup_category = #{category}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (
                p.title LIKE CONCAT('%', #{keyword}, '%')
                OR p.description LIKE CONCAT('%', #{keyword}, '%')
                OR p.selling_area_id LIKE CONCAT('%', #{keyword}, '%')
                OR p.sup_category LIKE CONCAT('%', #{keyword}, '%')
                OR p.sub_category LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
    GROUP BY p.pwr_id -->
    </select>

    <select id="getCategoryList" resultType="SearchItemsVO" resultMap="SearchItemsResultMap" parameterType="String">
    SELECT 
        p.pwr_id,
        f.file_name,
        p.title,
        p.sell_price,
        p.created_at,
        p.sup_category,
        p.sub_category,
        p.view_count,
        p.description,
        p.status,
        p.longitude,
        p.latitude
    FROM post p
        LEFT JOIN post_files AS pf ON p.pwr_id = pf.pwr_id
        LEFT JOIN file_table AS f ON pf.file_id = f.file_id
    WHERE 
        p.sup_category = #{category}
    GROUP BY p.pwr_id
    ORDER BY p.created_at DESC
    </select>

    <select id="getSubCategoryList" resultType="SearchItemsVO" resultMap="SearchItemsResultMap" parameterType="String">
    SELECT 
        p.pwr_id,
        f.file_name,
        p.title,
        p.sell_price,
        p.created_at,
        p.sup_category,
        p.sub_category,
        p.view_count,
        p.description,
        p.status,
        p.longitude,
        p.latitude
    FROM post p
        LEFT JOIN post_files AS pf ON p.pwr_id = pf.pwr_id
        LEFT JOIN file_table AS f ON pf.file_id = f.file_id
    WHERE 
        p.sub_category = #{sub_category}
    GROUP BY p.pwr_id
    ORDER BY p.created_at DESC
    </select>

    


    <!-- 검색 결과 매핑 -->
    <resultMap id="SearchItemsResultMap" type="com.saintkream.server.domain.searchitems.vo.SearchItemsVO">
        <id property="pwr_id" column="pwr_id"/>
        <result property="member_id" column="member_id"/>
        <result property="selling_area_id" column="selling_area_id"/>
        <result property="title" column="title"/>
        <result property="status" column="status"/>
        <result property="sell_price" column="sell_price"/>
        <result property="view_count" column="view_count"/>
        <result property="description" column="description"/>
        <result property="created_at" column="created_at"/>
        <result property="is_direct" column="is_direct"/>
        <result property="is_delivery" column="is_delivery"/>
        <result property="sup_category" column="sup_category"/>
        <result property="sub_category" column="sub_category"/>
        <collection property="fileList" ofType="com.saintkream.server.domain.searchitems.vo.SearchItemsFileVO">
            <result property="fileName" column="file_name"/>
        </collection>
    </resultMap>
</mapper>
  